h1 {
  color: darkblue;
  text-decoration-line: overline;
text-shadow: 1px 2px white;

}

body{
  background-color:tan
    }
    img:hover {
      width:400px
  }
h1:hover {
  font-size: 300%;
}



nav {
  list-style-type: none;
  background-color: #999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
li {
  display: inline;
  padding: 15px 50px
}
li a {
  text-decoration: none;
  color: white;
  padding: 15px 50px;
}

li a:hover{
  background-color: red;
  color: white;
}

h1 {
  color: darkblue;
  text-decoration-line: overline;
text-shadow: 1px 2px white;

}

body{
  background-color:tan
    }
    img:hover {
      width:400px
  }
h1:hover {
  font-size: 300%;
}



nav {
  list-style-type: none;
  background-color: #999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
li {
  display: inline;
  padding: 15px 50px
}
li a {
  text-decoration: none;
  color: white;
  padding: 15px 50px;
}

nav {
  list-style-type: none;
  background-color: #999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
li {
  display: inline;
  padding: 15px 50px
}
li a {
  text-decoration: none;
  color: white;
  padding: 15px 50px;
}

li a:hover{
  background-color: red;
  color: white;
}

nav {
  list-style-type: none;
  background-color: #999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
li {
  display: inline;
  padding: 15px 50px
}
li a {
  text-decoration: none;
  color: white;
  padding: 15px 50px;
}

li a:hover{
  background-color: red;
  color: white;
}

body{
  background-color:tan
    }
